/* Adjust the table width and make it fit within the A4 page */
@page {
  size: A4 portrait;
  margin: 1.5cm;

  @bottom-right {
    content: "Página "counter(page) " de "counter(pages);
    font-family: 'Calibri';
    font-size: 8pt
  }
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  font-size: 8pt;
  padding:2px;
}
body, h1, h2, h3, h4, h5, p, span {            
  font-family: 'Calibri';
}

body, div, span, p {
  font-size: 8pt
}

table {
    width: 100%; /* 100% width to fit the page */
    max-width: 100%; /* Limit the maximum width to fit within the page */
    border-collapse: collapse; /* Remove spacing between table cells */
}

/* Style the table cells (td) */
td {
    border: 1px solid #000; /* Add borders to cells */
    padding: 2px; /* Add padding to cells for spacing */
}

.text-center {
  text-align: center !important;
}

.sm-col {
  max-width: 150px;
  width: 5%;
  word-break: break-all;
  word-wrap: break-word;
}

.md-col {
  max-width:150px;
  width: 30%;
  word-break: break-all;
  word-wrap: break-word;
}

.lg-col {
  max-width: 3cm;
  width: 30%;
  word-break: break-all;
  word-wrap: break-word;
}

.head-row {
  max-width: 100px
}
.table-dark {
  background-color: #000;
}

.breakable-line {
  word-break: break-all;
  word-wrap: break-word;
}

.text-bold {
  font-weight: 700;
  font-size: 2rem;
}

.title {
  font-size: 10pt;
}
